spring:
  application:
     name: yiyao
  datasource:
     url: 'jdbc:mysql://localhost:3306/?useUnicode=true&characterEncoding=utf-8&useSSL=false'
     username: root
     password: 123
     driver-class: 'com.mysql.jdbc.Driver'
     database-name: test
     init-sql: mysql/init.sql
  thymeleaf:
     cache: false
     prefix: classpath:/templates/
     suffix: .html
     encoding: UTF-8
     content-type: text/html
     mode: HTML5
  data:
     elasticsearch:
       cluster-name: docker-cluster
       cluster-nodes: 45.77.86.209:9300
       #cluster-nodes: 47.104.7.73:9300

server:
  port: 8090
    
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    
files:
  path: /tmp/files
