<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
        <script type="text/javascript" th:src="@{/js/jedate/jedate.js}" ></script>
		<!--百度编辑器-->
		<script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/ueditor.config.js}"></script>
        <script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/ueditor.all.min.js}"></script>
        <script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/lang/zh-cn/zh-cn.js}"></script>
	</head>
	<body class="manageBody">
		<div class="manageLf">
			<div class="manageLfM">
				<div class="manageLfLogo">
					<img src="images/logo.png" />
				</div>
				<a href="#" class="manageMenuF">		
						订单管理
				</a>
				<a href="#" class="manageMenuF">		
						项目信息
				</a>
				<a href="javascript:;" class="manageMenuF">		
						信息采集<em></em>
				</a>
				<div class="manageMenuS">
					<a href="#">
						采集任务
					</a>
					<a href="#">
						结果列表
					</a>
					<a href="#">
						采集日志
					</a>
				</div>
				<a href="javascript:;" class="manageMenuF">		
						企业智库<em></em>
				</a>
				<div class="manageMenuS">
					<a href="#">
						分析报告
					</a>
					<a href="#">
						重点机构
					</a>
					<a href="#">
						行业人才
					</a>
				</div>
				<a href="#" class="manageMenuF">		
						用户管理
				</a>
				<a href="#" class="manageMenuF">		
						分类设置
				</a>
			</div>
		</div>
		<div class="managHead clearfix">
			<div class="right manageTx">
				<div class="clearfix">
				<img src="images/tx.jpeg" class="manageTxImg left" />
				<span class="left manageTxName">张伟</span>
				<em class="manageTxIco left"></em>
				</div>
			    <div class="loginAfterNo">
								
								<div class="loginAfterNoM">
									<em class="loginAfterNoMSj"></em>
									<p>
										<span class="loginName">
											张伟
										</span>
										<span class="vip">
											超级管理员
										</span>
									</p>
									<p>
										<a href="#">
											<img src="images/tuichu.png" />
											退出
										</a>
									</p>
									
								</div>
							</div>
			</div>
		</div>
		<div class="manageNr">
			<div class="M_mess">
				<div class="M_messOne">
					<b>项目详情</b>
				</div>
				
			    <div class="M_messTwoB">
			    	
			        <div class="M_messTwoBm active">
			    		<form th:action="@{/project/save}" th:object="${project}" th:method="post">
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目名称：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{name}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目分类：
			    			</span>
			    			<div class="M_messGpRt">
			    				<select th:field="*{classis}">
			    					<option th:value="生物医药"></option>
			    				</select>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目介绍：
			    			</span>
			    			<div class="M_messGpRt">
			    				<div class="shuru">
						          <script id="editor" type="text/plain" style="height:228px;width: 705px;" th:field="*{description}" th:utext="*{description}"></script>
	        	                </div>
	        	                 <script>
	        	                 	$(function() {

	//本来是这样的:UE.getEditor('editor');  传入参数后就是下面那样子了，toolbars里的就是工具的图标

	UE.getEditor('editor', {

		toolbars: [

			['undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'backcolor', 'fontsize', 'fontfamily', 'removeformat', 'formatmatch', 'simpleupload', 'insertimage', 'forecolor', 'backcolor', 'cleardoc', 'link', 'unlink', 'emotion']

		]

	});

})</script>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目预算：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{budget}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				开始日期：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" id="dateinfo1" th:field="*{start}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				截止日期：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" id="dateinfo2" th:field="*{end}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目委托方：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{entrust}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目联系人：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{contacts}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				电话：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{phone}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				委托方地址：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{address}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目代理机构：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{budget}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				原文地址：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{address}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				原文地址：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{address}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				提交时间：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" id="dateinfo" th:field="*{ctime}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				上传人：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{uploader}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				修改人：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{modifier}" />
			    			</div>
			    		</div>
			    		<input type="hidden" th:field="*{id}" />
			    		<input type="submit" value="保存修改" class="M_messSub" />
			    		</form>
			    	</div>
			    </div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript">
    
    jeDate({
		dateCell:"#dateinfo",
		format:"YYYY年MM月DD日 hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00"
	})
     jeDate({
		dateCell:"#dateinfo1",
		format:"YYYY年MM月DD日",
		isinitVal:true,
		isTime:false, //isClear:false,
		minDate:"2014-09-19"
	})
     jeDate({
		dateCell:"#dateinfo2",
		format:"YYYY年MM月DD日",
		isinitVal:true,
		isTime:false, //isClear:false,
		minDate:"2014-09-19"
	})
</script>
	</body>
</html>
