<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
	</head>
	<body class="manageBody">
		<div class="manageLf">
			<div class="manageLfM">
				<div class="manageLfLogo">
					<img th:src="@{/images/logo.png}" />
				</div>
				<a href="#" class="manageMenuF">		
						订单管理
				</a>
				<a th:href="@{/project/list(pageSize=10,pageIndex=0)}" class="manageMenuF">		
						项目信息
				</a>
				<a href="javascript:;" class="manageMenuF">		
						信息采集<em></em>
				</a>
				<div class="manageMenuS">
					<a href="#">
						采集任务
					</a>
					<a href="#">
						结果列表
					</a>
					<a href="#">
						采集日志
					</a>
				</div>
				<a href="javascript:;" class="manageMenuF">		
						企业智库<em></em>
				</a>
				<div class="manageMenuS">
					<a th:href="@{/report/list(pageSize=10,pageIndex=0)}">
						分析报告
					</a>
					<a th:href="@{/org/list}">
						重点机构
					</a>
					<a th:href="@{/expert/list(pageSize=10,pageIndex=0)}">
						行业人才
					</a>
				</div>
				<a th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}"  th:href="@{/user/list(token=${cookie.getValue()},pageIndex=0,pageSize=10)}" class="manageMenuF">		
						用户管理
				</a>
				<a href="#" class="manageMenuF">		
						分类设置
				</a>
			</div>
		</div>
		<div class="managHead clearfix">
			<div class="right manageTx">
				<div class="clearfix">
				<img th:src="@{/images/tx.jpeg}" class="manageTxImg left" />
				<span class="left manageTxName">张伟</span>
				<em class="manageTxIco left"></em>
				</div>
			    <div class="loginAfterNo">
								
								<div class="loginAfterNoM">
									<em class="loginAfterNoMSj"></em>
									<p>
										<span class="loginName" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('account')}" th:text="${cookie.getValue()}">
										</span>
										<span class="vip" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('role')}" th:text="${cookie.getValue()}">
										</span>
									</p>
									<p>
										<a href="#">
											<img th:src="@{/images/tuichu.png}" />
											退出
										</a>
									</p>
									
								</div>
							</div>
			</div>
		</div>
		<div class="manageNr">
			<div class="M_mess">
				<div class="M_messOne">
					张伟<span>操作员</span>
				</div>
				<div class="M_messTwoTl clearfix">
					<a href="javascript:;" class="ahover">
						权限分配
					</a>
					<a href="javascript:;">
						基本信息
					</a>
				</div>
			    <div class="M_messTwoB">
			    	<div class="M_messTwoBm active">
			    		<form>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				用户身份
			    			</span>
			    			<div class="M_messGpRt">
			    				<select>
			    					<option>
			    						操作员
			    					</option>
			    				</select>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				权限分配
			    			</span>
			    			<div class="M_messGpRt">
			    				<div class="M_messQX">
			    					<p class="M_messQXTl">
			    						所属机构
			    					</p>
			    					<div class="M_messJG">
			    						<input type="checkbox" id="1" />
			    						<label for="1">东软医疗</label>
			    					</div>
			    					<div class="M_messJG">
			    						<input type="checkbox" id="2" />
			    						<label for="2">何氏-生物医药</label>
			    					</div>
			    					<div class="M_messJG">
			    						<input type="checkbox" id="3" />
			    						<label for="3">辽宁成大生物</label>
			    					</div>
			    					<div class="M_messJG">
			    						<input type="checkbox" id="4" />
			    						<label for="4">辽宁成大生物</label>
			    					</div>
			    					<div class="M_messJG">
			    						<input type="checkbox" id="5" />
			    						<label for="5">辽宁</label>
			    					</div>
			    				</div>
			    			</div>
			    		</div>
			    		<input type="button" value="保存修改" class="M_messSub" />
			    		</form>
			    	</div>
			        <div class="M_messTwoBm">
			    		<form th:action="@{/user/update}" th:object="${user}" method="post" th:method="post">
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				用户名
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{account}"/>
			    				<!-- <div class="erroText">
	    				                输入错误
	    			             </div> -->
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				密码
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="password" class="M_messInp" th:field="*{password}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				真实姓名
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{name}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				身份证
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{identity}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				工作单位
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{unit}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				职位
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{job}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				职务
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{duty}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				研究方向
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{major}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				电子邮箱
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{email}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				手机号
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{phone}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				微信名
			    			</span>
			    			<div class="M_messGpRt">
			    				<span class="M_messGpText" th:field="*{wechat}">
			    					大伟
			    				</span>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				注册时间
			    			</span>
			    			<div class="M_messGpRt">
			    				<span class="M_messGpText" th:text="*{stamp}">
			    					
			    					<!-- 2018/12/05 12:00:21 -->
			    				</span>
			    			</div>
			    		</div>
			    		<input type="hidden" th:field="*{id}" />
			    		<input type="hidden" class="M_messInp" th:field="*{stamp}"/>
			    		<input type="hidden" class="M_messInp" th:field="*{wechat}"/>
			    		<input type="submit" value="保存修改" class="M_messSub" />
			    		</form>
			    	</div>
			    </div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
	</body>
</html>
