<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
        <script type="text/javascript" th:src="@{/js/jedate/jedate.js}" ></script>
		<!--百度编辑器-->
		<script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/ueditor.config.js}"></script>
        <script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/ueditor.all.min.js}"></script>
        <script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/lang/zh-cn/zh-cn.js}"></script>
	</head>
	<body class="manageBody">
		<div class="manageLf">
			<div class="manageLfM">
				<div class="manageLfLogo">
					<img th:src="@{/images/logo.png}" />
				</div>
				<a href="#" class="manageMenuF">		
						订单管理
				</a>
				<a th:href="@{/project/list(pageSize=10,pageIndex=0)}" class="manageMenuF">		
						项目信息
				</a>
				<a href="javascript:;" class="manageMenuF">		
						信息采集<em></em>
				</a>
				<div class="manageMenuS">
					<a href="#">
						采集任务
					</a>
					<a href="#">
						结果列表
					</a>
					<a href="#">
						采集日志
					</a>
				</div>
				<a href="javascript:;" class="manageMenuF">		
						企业智库<em></em>
				</a>
				<div class="manageMenuS">
					<a th:href="@{/report/list(pageSize=10,pageIndex=0)}">
						分析报告
					</a>
					<a th:href="@{/org/list}">
						重点机构
					</a>
					<a th:href="@{/expert/list(pageSize=10,pageIndex=0)}">
						行业人才
					</a>
				</div>
				<a th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}"  th:href="@{/user/list(token=${cookie.getValue()},pageIndex=0,pageSize=10)}" class="manageMenuF">		
						用户管理
				</a>
				<a href="#" class="manageMenuF">		
						分类设置
				</a>
			</div>
		</div>
		<div class="managHead clearfix">
			<div class="right manageTx">
				<div class="clearfix">
				<img th:src="@{/images/tx.jpeg}" class="manageTxImg left" />
				<span class="left manageTxName">张伟</span>
				<em class="manageTxIco left"></em>
				</div>
			    <div class="loginAfterNo">
								
								<div class="loginAfterNoM">
									<em class="loginAfterNoMSj"></em>
									<p>
										<span class="loginName">
											张伟
										</span>
										<span class="vip">
											超级管理员
										</span>
									</p>
									<p>
										<a href="#">
											<img th:src="@{/images/tuichu.png}" />
											退出
										</a>
									</p>
									
								</div>
							</div>
			</div>
		</div>
		<div class="manageNr">
			<div class="M_mess">
				<div class="M_messOne">
					<b>项目详情</b>
				</div>
				
			    <div class="M_messTwoB">
			    	
			        <div class="M_messTwoBm active">
			    		<form name="saveForm" th:action="@{/project/save}" th:object="${project}" th:method="post">
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目名称：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{name}"/>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目分类：
			    			</span>
			    			<div class="M_messGpRt">
<!-- 			    				<select th:field="*{classis}" th:value="*{classis}" name="classis"> -->
<!-- 			    					<option value="">请选择项目分类</option> -->
<!-- 			    					<option th:selected="*{classis=='物化转化技术'}" value="物化转化技术">物化转化技术</option> -->
<!-- 			    					<option th:selected="*{classis=='生物固体成型燃料'}" value="生物固体成型燃料">生物固体成型燃料</option> -->
<!-- 			    					<option th:selected="*{classis=='生物质发电，生物质供热'}" value="生物质发电，生物质供热">生物质发电，生物质供热</option> -->
<!-- 			    				</select> -->
			    				
			    				<select th:field="*{classis}"  th:value="*{classis}" name="classis">
                            		<option value="">请选择项目分类</option>
                            		<option th:each="item : ${items}" th:value="${item}" th:text="${item}"></option>
                        		</select>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目介绍：
			    			</span>
			    			<div class="M_messGpRt">
			    				<div class="shuru">
						          <script id="editor" type="text/plain" style="height:228px;width: 705px;" th:field="*{description}" th:utext="*{description}"></script>
	        	                </div>
	        	                 <script>
	        	                 	$(function() {

	//本来是这样的:UE.getEditor('editor');  传入参数后就是下面那样子了，toolbars里的就是工具的图标

	UE.getEditor('editor', {

		toolbars: [

			['undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'backcolor', 'fontsize', 'fontfamily', 'removeformat', 'formatmatch', 'simpleupload', 'insertimage', 'forecolor', 'backcolor', 'cleardoc', 'link', 'unlink', 'emotion']

		]

	});

})</script>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目预算：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{budget}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				开始日期：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" id="dateinfo1" th:field="*{start}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				截止日期：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" id="dateinfo2" th:field="*{end}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目委托方：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{entrust}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目联系人：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{contacts}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				电话：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{phone}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				委托方地址：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{address}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				项目代理机构：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{agent}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				原文地址：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{url}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				提交时间：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" id="dateinfo" th:field="*{ctime}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				上传人：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{uploader}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				修改人：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{modifier}" />
			    			</div>
			    		</div>
			    		<div class="clearfix bianjinrbtn">
				    		<input type="hidden" th:field="*{id}" />
				    		<input name="info" type="hidden" id="info">
				    		<input th:if="${disable.equals('0')}" type="button" value="保存修改" class="M_messSub" onClick="uptext();"/>
				    		<a href="#" onClick="javascript:history.back(-1);" class="colorRed left shanchubtn">返回</a>
			    		</div>
			    		</form>
			    	</div>
			    </div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript">
    
			   jeDate({
				dateCell:"#dateinfo",
				format:"YYYY年MM月DD日 hh:mm:ss",
				isinitVal:true,
				isTime:true, //isClear:false,
				minDate:"2014-09-19 00:00:00"
			})
			    jeDate({
				dateCell:"#dateinfo1",
				format:"YYYY年MM月DD日",
				isinitVal:true,
				isTime:false, //isClear:false,
				minDate:"2014-09-19"
			})
			    jeDate({
				dateCell:"#dateinfo2",
				format:"YYYY年MM月DD日",
				isinitVal:true,
				isTime:false, //isClear:false,
				minDate:"2014-09-19"
			})
	
			//这段要放在文本编辑器的实例化之后
			function uptext() {
				if (!UE.getEditor('editor').hasContents()) {
					alert('请先填写内容!');
				} else {
					$("#info").val(UE.getEditor('editor').getContent());
					$("form[name='saveForm']").submit();
				}
			}
		</script>
	</body>
</html>
