<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
	</head>
	<body class="manageBody">
		<div class="manageLf">
			<div class="manageLfM">
				<div class="manageLfLogo">
					<img th:src="@{/images/logo.png}" />
				</div>
				<a href="#" class="manageMenuF">		
						订单管理
				</a>
				<a th:href="@{/project/list(pageSize=10,pageIndex=0)}" class="manageMenuF">		
						项目信息
				</a>
				<a href="javascript:;" class="manageMenuF">		
						信息采集<em></em>
				</a>
				<div class="manageMenuS">
					<a href="#">
						采集任务
					</a>
					<a href="#">
						结果列表
					</a>
					<a href="#">
						采集日志
					</a>
				</div>
				<a href="javascript:;" class="manageMenuF">		
						企业智库<em></em>
				</a>
				<div class="manageMenuS">
					<a th:href="@{/report/list(pageSize=10,pageIndex=0)}">
						分析报告
					</a>
					<a th:href="@{/org/list}">
						重点机构
					</a>
					<a th:href="@{/expert/list(pageSize=10,pageIndex=0)}">
						行业人才
					</a>
				</div>
				<a th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}"  th:href="@{/user/list(token=${cookie.getValue()},pageIndex=0,pageSize=10)}" class="manageMenuF">		
						用户管理
				</a>
				<a href="#" class="manageMenuF">		
						分类设置
				</a>
			</div>
		</div>
		<div class="managHead clearfix">
			<div class="right manageTx">
				<div class="clearfix">
				<img th:src="@{/images/tx.jpeg}" class="manageTxImg left" />
				<span class="left manageTxName" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('account')}" th:text="${cookie.getValue()}"></span>
				<em class="manageTxIco left"></em>
				</div>
			    <div class="loginAfterNo">
								
								<div class="loginAfterNoM">
									<em class="loginAfterNoMSj"></em>
									<p>
										<span class="loginName" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('account')}" th:text="${cookie.getValue()}">
											张伟
										</span>
										<span class="vip" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('role')}" th:text="${cookie.getValue()}">
										</span>
									</p>
									<p>
										<a href="#">
											<img th:src="@{/images/tuichu.png}" />
											退出
										</a>
									</p>
									
								</div>
							</div>
			</div>
		</div>
		<div class="manageNr">
			<div class="usermanageOne">
				<form>
					<div class="clearfix">
						<span class="left usermanageOneTl" th:text="用户管理：+ ${totalCount}">
						</span>
						<div class="right usermanageOneSS">
							<input type="text" />
							<em></em>
						</div>
					</div>
					<div class="clearfix usermanageOneJs">
						<div class="right">
							<select class="left">
								<option>查看所有权限</option>
							</select>
							<input type="button" class="left" value="筛选" />
						</div>
					</div>
				</form>
			</div>
		    <div class="usermanageTwo">
		    	<table cellpadding="0" cellspacing="0" width="100%" class="usermanageTable">
		    		<tr>
		    			<th>
		    				<input type="checkbox" class="gouxuan allInp" />
		    			</th>
		    			<th>
		    				用户名
		    			</th>
		    			<th>
		    				真实姓名
		    			</th>
		    			<th>
		    				权限
		    			</th>
		    			<th>
		    				工作单位
		    			</th>
		    			<th>
		    				邮箱
		    			</th>
		    			<th>
		    				注册时间
		    			</th>
		    			<th>
		    				操作
		    			</th>
		    		</tr>
		    		<tr th:each="user : ${userList}">
		    			<td>
		    				<input type="checkbox" class="gouxuan" />
		    			</td>
		    			<td th:text="${user.account}"></td>
		    			<td th:text="${user.name}"></td>
		    			<td th:text="${user.role}">
		    				<!-- <span class="colorRed">超级管理员</span> -->
		    			</td>
		    			<td th:text="${user.unit}">
		    			</td>
		    			<td th:text="${user.email}">
		    			</td>
		    			<td th:text="${user.stamp}">
		    			</td>
		    			<td>
		    				<a th:href="@{/user/getUser(account=${user.account})}" class="usermBj">
		    					编辑
		    				</a>
		    			</td>
		    		</tr>
		    	</table>
		        <div class="page">
		        	<a th:style="'display:' + @{((${pageIndex}+1) == 1 ? 'none' : 'inline-block')} + ''" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/user/list(token=${cookie.getValue()},pageIndex=0,pageSize=10)}">首页</a>
      				<a th:style="'display:' + @{((${pageIndex}+1) == 1 ? 'none' : 'inline-block')} + ''" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/user/list(token=${cookie.getValue()},pageIndex=(${pageIndex}-1),pageSize=10)}">上一页</a>
		        	<a th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/user/list(token=${cookie.getValue()},pageIndex=(${pageIndex}),pageSize=10)}" th:text="(${pageIndex}+1) + '/' + ${totalPages}" ></a>
		        	<a th:style="'display:' + @{((${pageIndex}+1) == ${totalPages} ? 'none' : 'inline-block')} + ''" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/user/list(token=${cookie.getValue()},pageIndex=(${pageIndex}+1),pageSize=10)}">下一页<em>></em></a>
		        	<a th:style="'display:' + @{((${pageIndex}+1) == ${totalPages} ? 'none' : 'inline-block')} + ''" th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('token')}" th:href="@{/user/list(token=${cookie.getValue()},pageIndex=(${totalPages}-1),pageSize=10)}">尾页<em>></em></a>
		        </div>
		    </div>
		</div>
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
	</body>
</html>
