<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
	</head>
	<body>
		<div class="nyMain">
			<div class="nycontainer">
			<div class="head">
			<div class="clearfix">
				<a href="index.html" class="left logo">
					<img th:src="@{/images/logo.png}" />
				</a>
				<a href="#" class="left headBack">
					<<返回首页
				</a>
				<div class="left headsuos">
					<em></em>
					<input type="button" class="headsuosBtn" value="搜索" />
					<input type="text" class="headsuosInp" />
				</div>
				<div class="right">
					<!--登录前-->
					<!--<div class="loginbefore">
						<a href="javascript:;" class="loginBtn">登录</a><span>/</span><a href="loginBtn">注册</a>
					</div>-->
					<!--登陆后-->
					<div class="loginAfter">
						<div class="loginAfterM">
							<a href="#" class="loginAfterTx">
								<img src="images/tx.jpeg" />
							</a>
							<div class="loginAfterNo">
								
								<div class="loginAfterNoM">
									<em class="loginAfterNoMSj"></em>
									<p>
										<span class="loginName">
											张伟
										</span>
										<span class="vip">
											超级管理员
										</span>
									</p>
									<p>
										<a href="#">
											<img src="images/houtai.png" />
											进入管理后台
										</a>
									</p>
									<p>
										<a href="#">
											<img src="images/dingdan.png" />
											我的申请
										</a>
									</p>
									<p>
										<a href="#">
											<img src="images/tuichu.png" />
											退出
										</a>
									</p>
									
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>              
		    
			</div>
			<div class="nycontainer rencaiM">
			
				<div class="rencaiNr clearfix">
					<div class="rencaiLf left">
						<div class="rencaiLFmess">
							<img th:src="@{/images/per.png}" />
							<div class="rencaiLFmessText">
								<p class="rencaiLFmessName">
									姓名： 
								</p>
								<p>
									施一公 
								</p>
								<p class="rencaiLFmessName">
									所在单位： 
								</p>
								<p>
									清华大学生命科学学院  
								</p>
								<p class="rencaiLFmessName">
									研究方向： 
								</p>
								<p>
									细胞生物学 
								</p>
								<p class="rencaiLFmessName">
									担任职务：
								</p>
								<p>
									中国科学院院士、结构生物学家、清华大学教授
								</p>
							</div>
						</div>
						
					</div>
				    <div class="rencaiRt right rencaiRtMess">
				    	<span class="resultrtTlSmall">
		            		基本介绍
		            	</span>
		            	<div class="zhuanliConOne">
		            	 <p>施一公，1967年5月5日出生于河南郑州，1989年毕业于清华大学，1995年在美国约翰霍普金斯大学获博士学位。中国科学院院士、结构生物学家、清华大学教授。曾获第二届“未来科学大奖”之“生命科学奖”。现任中国科学技术协会第九届全国委员会副主席 ，西湖大学校长 。2018年12月，入选“中国改革开放海归40年40人”榜单。</p>
		            	  <p> 已是国际著名结构生物学家、美国普林斯顿大学终身讲席教授的施一公。面对广阔的事业发展前景，面对优越的生活条件，他却作出了一个让许多人为之惊讶而敬佩的决定：放弃这一切，全职回国，回到母校清华。在他看来，“爱国是最朴素的感情，有谁不爱自己的母亲呢？”经历攀登的艰辛，山顶总会有无尽的风光。如果仅仅因为科研，施一公不会回来。他有更高的理想和追求。曾获国际赛克勒生物物理学奖、香港求是科技基金会杰出科学家奖、谈家桢生命科学终身成就奖、瑞典皇家科学院颁发的2014年度爱明诺夫奖等奖项。美国艺术与科学院院士、美国国家科学院外籍院士、欧洲分子生物学组织外籍成员。</p>
		            	   <p>在普林斯顿大学，他运用结构生物学、生物物理和生物化学手段，研究癌症发生和细胞凋亡的分子机制。迄今为止，他在国际权威学术杂志发表学术论文百余篇，其中作为通讯作者在《细胞》发表11篇、《自然》发表7篇、《科学》发表3篇，这些工作系统地揭示了哺乳动物、果蝇和线虫中细胞凋亡通路的分子机理，已有若干研究成果申请专利，用于治疗癌症的药物研发。 </p>
		            	 <p> 由中国科学报社、中国科协科普部、中国科技新闻学会等主办的“2013中国科学年度新闻人物”推选活动2014年1月24日晚正式揭晓，施一公为10位获奖者之一。 </p>
		            	  <p>“他是闻名世界的结构生物学家，曾是美国普林斯顿大学分子生物学系建系以来最年轻的终身教授。2013年，他的科研小组研究进展不断：首次在RNA剪接通路中取得重大进展，为揭示生命现象的基本原理奠定了扎实的理论基础；他运用X-射线晶体学手段在细胞凋亡研究领域做出突出贡献，为开发新型抗癌、预防老年痴呆的药物提供了重要线索……2013年也是他收获荣誉的一年，他当选为中国科学院院士和美国科学院、美国艺术与科学院双院外籍院士。他在科研中不忘育人之心，他深受学生爱戴。他就是清华大学生命学院院长施一公。” </p>
		            	</div>
		            	<div class="zhuanliConTwo clearfix">
		            		<a href="javascript:;" class="ahover">
		            			相关专利
		            		</a>
		            		<a href="javascript:;">
		            			相关论文
		            		</a>
		            	</div>
		            	<div class="zhuanliConThree">
		            		<div class="zhuanliConThreeM active">
		            			<ul class="jiansuoUl">
		            		   <li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            	</ul>
		            	<div class="jiazai">
			    					<img src="images/jiazai.png" />
			    					加载中...
			    				</div>
		            		</div>
		            		<div class="zhuanliConThreeM">
		            			<ul class="jiansuoUl">
		            		   <li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Aonventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            		<li>
		            			<div class="jiansuoLiTL">
		            				<a href="#">
		            					Conventional pluripotency markers are unspecific for bovine embryonic-derived cell-lines.Big data: The next frontier for innovation, competition, and productivity
		            				</a>
		            			</div>
		            			<div class="jiansuoLiTag">
		            				<span>专利权人：Briefings in bioinformatics </span>
		            				<span>优先权年：2017年12月1日</span>
		            			</div>
		            			<div class="jiansuoLiText">
		            				<span class="jiansuoLiTextSpan">
		            				Bovine embryonic stem cells are of potentially big value in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency in transgenic research and studies of lineage commitment and development. Nevertheless, key aspects of the establishment of bovine embryonic stem cells such as the identification of specific pluripotency of bovine embryonic stem cells such as the identification of specific pluripotency…
		            				</span>
		            				<a href="javascript:;" class="jiansuoLImore">
		            					展开更多
		            				</a>
		            			</div>
		            		</li>
		            	</ul>
		            	<div class="jiazai">
			    					<img src="images/jiazai.png" />
			    					加载中...
			    				</div>
		            		</div>
		            	</div>
				    </div>
				</div>
			</div>
			</div>
		<div class="footer">
	    	<div class="footerTop">
	    		<div class="index-container clearfix">
	    			<div class="left footerTopLf">
	    				<p class="footerTopTl">
	    					<img src="images/pingtai.png" />
	    					平台介绍
	    				</p>
	    				<div class="footerTopText">
	    					平台围绕生物医药领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为领域研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。
	    				</div>
	    			</div>
	    			<div class="left footerTopMiddle">
	    				<div class="footerTopMiddleTop">
	    				<p class="footerTopTl">	    				
	    					交流合作
	    				</p>
	    				<div class="footerTopText">
	    					<span>平台围绕生物医药领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为领域研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。</span><a href="#">更多>></a>
	    				</div>
	    				</div>
	    				<p class="footerTopTl">	    				
	    					关于我们
	    				</p>
	    				<div class="footerTopText">
	    					<span>平台围绕生物医药领域进行信息监测与情报服务，结合文献情报中心的文献服务、情报咨询服务等，为领域研究相关科研机构、政府部门、企业等提供产业技术情报服务和科技咨询服务。</span><a href="#">更多>></a>
	    				</div>
	    			</div>
	    		    <div class="left footerTopLX">
	    		    	<div class="footerTopLXT">
	    		    	<p class="footerTopTl">	    				
	    					<img src="images/lianxifangshi.png" />联系方式
	    				</p>
	    				<div class="footerTopText">
	    					<p>电话：010-82626611-6302</p>
                             <p>邮箱：chinakx@mail.las.ac.cn</p>
	    				</div>
	    		    	</div>
	    		        <div class="footerTopText footerTopLXB">
	    		        	<p class="footerTopTl">	    				
	    				 	<img src="images/jigou.png" />合作机构
	    				    </p>
	    		        	<ul>
	    		        		<li>
	    		        			<a href="#">•&nbsp;沈阳浑南高新技术开发区</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院沈阳分院</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;中国科学院文献情报中心</a>
	    		        		</li>
	    		        		<li>
	    		        			<a href="#">•&nbsp;国家科学图书文献中心</a>
	    		        		</li>
	    		        	</ul>
	    		        </div>
	    		    </div>
	    		    <div class="right footerTopErw">
	    		    	<img src="images/erw.png" />
	    		    	<p>
	    		    		<em></em>扫码快速关注公众号
	    		    	</p>
	    		    </div>
	    		</div>
	    	</div>
	        <div class="footerB">
	        	<div class="index-container">
	        		版权所有 @ 2017 沈阳高新区生物医药知识服务云平台 中国科学院文献情报中心,京ICP证030173号
	        	</div>
	        </div>
	    </div>
		
		<script type="text/javascript" src="js/main.js" ></script>

	</body>
</html>
