<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/init.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}" ></script>
		<!--百度编辑器-->
		<script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/ueditor.config.js}"></script>
        <script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/ueditor.all.min.js}"></script>
        <script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor/lang/zh-cn/zh-cn.js}"></script>
	</head>
	<body class="manageBody">
		<div class="manageLf">
			<div class="manageLfM">
				<div class="manageLfLogo">
					<img th:src="@{/images/logo.png}" />
				</div>
				<a href="#" class="manageMenuF">		
						订单管理
				</a>
				<a href="#" class="manageMenuF">		
						项目信息
				</a>
				<a href="javascript:;" class="manageMenuF">		
						信息采集<em></em>
				</a>
				<div class="manageMenuS">
					<a href="#">
						采集任务
					</a>
					<a href="#">
						结果列表
					</a>
					<a href="#">
						采集日志
					</a>
				</div>
				<a href="javascript:;" class="manageMenuF">		
						企业智库<em></em>
				</a>
				<div class="manageMenuS">
					<a href="#">
						分析报告
					</a>
					<a href="#">
						重点机构
					</a>
					<a href="#">
						行业人才
					</a>
				</div>
				<a href="#" class="manageMenuF">		
						用户管理
				</a>
				<a href="#" class="manageMenuF">		
						分类设置
				</a>
			</div>
		</div>
		<div class="managHead clearfix">
			<div class="right manageTx">
				<div class="clearfix">
				<img th:src="@{/images/tx.jpeg}" class="manageTxImg left" />
				<span class="left manageTxName">张伟</span>
				<em class="manageTxIco left"></em>
				</div>
			    <div class="loginAfterNo">
								
								<div class="loginAfterNoM">
									<em class="loginAfterNoMSj"></em>
									<p>
										<span class="loginName">
											张伟
										</span>
										<span class="vip">
											超级管理员
										</span>
									</p>
									<p>
										<a href="#">
											<img th:src="@{/images/tuichu.png}" />
											退出
										</a>
									</p>
									
								</div>
							</div>
			</div>
		</div>
		<div class="manageNr">
			<div class="M_mess">
				<div class="M_messOne">
					<b>机构详情</b>
				</div>
				
			    <div class="M_messTwoB">
			    	     
			        <div class="M_messTwoBm active">
			    		<form name="saveForm" th:action="@{/org/save}" th:object="${org}" th:method="post">
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				机构名称：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{name}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				其他名称：
			    			</span>
			    			<div class="M_messGpRt">
			    				<input type="text" class="M_messInp" th:field="*{alias}" />
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				研究领域：
			    			</span>
			    			<div class="M_messGpRt" th:field="*{area}">
			    				<select>
			    					<option></option>
			    				</select>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				机构介绍：
			    			</span>
			    			<div class="M_messGpRt">
			    				<div class="shuru">
						          <script id="editor" type="text/plain" style="height:228px;width: 705px;" th:field="*{description}" th:utext="*{description}"></script>
	        	                </div>
	        	                 <script>
	        	                 	$(function() {

	//本来是这样的:UE.getEditor('editor');  传入参数后就是下面那样子了，toolbars里的就是工具的图标

	UE.getEditor('editor', {

		toolbars: [

			['undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'backcolor', 'fontsize', 'fontfamily', 'removeformat', 'formatmatch', 'simpleupload', 'insertimage', 'forecolor', 'backcolor', 'cleardoc', 'link', 'unlink', 'emotion']

		]

	});

})</script>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				机构类型：
			    			</span>
			    			<div class="M_messGpRt" th:field="*{type}">
			    				<select>
			    					<option value="企业"></option>
			    				</select>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				国家：
			    			</span>
			    			<div class="M_messGpRt" th:field="*{country}">
			    				<select>
			    					<option value="美国"></option>
			    				</select>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				产业链：
			    			</span>
			    			<div class="M_messGpRt" th:field="*{link}">
			    				<select>
			    					<option>下游</option>
			    				</select>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				产品类型：
			    			</span>
			    			<div class="M_messGpRt">
			    				<div class="clearfix" th:field="*{classic}">
			    				<select class="left">
			    					<option>CT设备；分析仪</option>
			    				</select>
			    				<a href="#" class="left colorBlue zengjialx">+增加产品类型</a>
			    				</div>
			    			</div>
			    		</div>
			    		
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				机构LOGO：
			    			</span>
			    			<div class="M_messGpRt">
			    				<div class="clearfix M_messGpImg M_messGpImgjg">
			    					<div class="left M_messGpImgGp">
			    						<img th:src="@{/images/bjlogp_03.png}" />
			    						<p>
			    							LOGO.jpg&nbsp;1000kb&nbsp;<a href="#" class="colorRed">删除</a>
			    						</p>
			    					</div>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				提交时间：
			    			</span>
			    			<div class="M_messGpRt">
			    				<span class="M_messGpRtText" th:text="${new java.util.Date()}">></span>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				上传人：
			    			</span>
			    			<div class="M_messGpRt">
			    				<span class="M_messGpRtText">王伟</span>
			    			</div>
			    		</div>
			    		<div class="M_messGp clearfix">
			    			<span class="left M_messGpName">
			    				修改人：
			    			</span>
			    			<div class="M_messGpRt">
			    				<span class="M_messGpRtText">王伟</span>
			    			</div>
			    		</div>
			    		<div class="clearfix bianjinrbtn">
			    		<input type="hidden" th:field="*{id}" />
			    		<input name="info" type="hidden" id="info">
			    		<input type="button" value="提交" class="M_messSub left" onClick="uptext();"/>
			    		<a href="#" class="colorRed left shanchubtn">删除</a>
			    		</div>
			    		</form>
			    	</div>
			    </div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/main.js}" ></script>
		<script type="text/javascript">
    
			//这段要放在文本编辑器的实例化之后
			function uptext() {
				if (!UE.getEditor('editor').hasContents()) {
					alert('请先填写内容!');
				} else {
					$("#info").val(UE.getEditor('editor').getContent());
					$("form[name='saveForm']").submit();
				}
			}
		</script>
	</body>
</html>
